@font-face{
    font-family: "Roman-55";
    src: url(./fonts/HLR.ttf);
}

:root{
    --color-black: #000;
}

body{
    font-family: "Roman-55", Helvetica, sans-serif;
}

h1{
    font-size: 2.125rem;
}
@media (max-width: 768px){
    h1{
        font-size: 1.75rem;
    }
}


/* Utilities */
.text-black{
    color: var(--color-black);
}

.font-sub-heading{
    font-size: 1.125rem;
    font-weight: 500;
}

.font-title{
    font-size: 1.25rem;
    font-weight: 500;
}

/* Button */
.btn-outline-dark{
    color: var(--color-black) !important;
    border-width: 2px;
    transition: all .6s;
}

.btn-outline-dark:hover{
    background: transparent;
    border-width: 3px;
}

.btn-outline-light{
    border-width: 2px;
    transition: all .6s;
}

.btn-outline-light:hover{
    background: rgb(65, 65, 65);
    border-width: 3px;
}

.b-red{
    border: 2px solid red;
}

.b-green{
    border: 2px solid green;
}



.nav-link{
    display: inline-block;
    height: 60px;
    font-weight: 400;
    color: var(--color-black);
    transition: all .6s ease;
}

.nav-link-light{
    color: #f8f9fa !important;
    transition: all .6s;
}

.nav-link-light i{
    color: #f8f9fa !important;
    transition: all .6s;
}

.nav-link-light:hover{
    text-decoration: underline;
}

.nav-link-light:hover i{
    margin-left: 20px !important;
}

.nav-link-dark{
    color: var(--color-black) !important;
    border-color: var(--color-black) !important;
    transition: all .6s;
}

.nav-link-dark i{
    color: var(--color-black) !important;
    transition: all .6s;
}

.nav-link-dark:hover{
    text-decoration: underline;
}

.nav-link-dark:hover i{
    margin-left: 20px !important;
}


header .nav-link{
    padding: 1.125rem !important;
    font-size: .875rem;
}

.nav-item:hover a{
    color: var(--color-black);
    border-bottom: 2px solid red;
    transition: all .6s ease;
}



/* Section 1 */
.section-1{
    height: 300px;
    background-image: url(../img/section-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Section 2 */
.section-2{
    height: 680px;
    background-image: url(../img/section-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Section 3 */
.section-3{
    height: 720px;
    background-image: url(../img/section-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Section 4 */
.section-4{
    height: 680px;
    background-image: url(../img/section-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Section 5 */
.section-5{
    height: 720px;
    background-image: url(../img/section-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Gallery Section */
.gallery-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease;
}

.gallery-img:hover img{
    transform: scale(1.1);
    transition: all 0.6s ease;
}

.gallery-img:hover .gallery-overlay{
    background-color: rgba(0, 0, 0, 0.3); 
}

